<footer id="footer">
    <div class="container py-2">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>RemodedUi Team</span></strong>. All Rights Reserved 2023.
        </div>

        <div class="social d-flex justify-content-center">
          <a class="mx-2" href="https://discord.gg/GT98pM7dUj"><i class="bx bxl-discord"></i></a>
          <a class="mx-2" href="https://t.me/memeremoded"><i class="bx bxl-telegram"></i></a>
          <a class="mx-2" href="https://github.com/RemodedUi"><i class="bx bxl-github"></i></a>
        </div>
        <div class="credits">

          Made with ♥️ by <a href="https://burhanverse.github.io/">BurhanVerse</a> & <a
            href="https://github.com/nullptr03">Andy</a><br>

        </div>
      </div>
    </div>
  </footer>