<div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/xaga.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi K50i 5G</h5>
          <p class="d-flex justify-content-center mt-2">xaga</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/xaga.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/alioth.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi K40/POCO F3/Mi 11X</h5>
          <p class="d-flex justify-content-center mt-2">alioth</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/alioth.html" class="btn btn-lg btn-light-magenta">Download</a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/moonstone.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Poco X5 5G</h5>
          <p class="d-flex justify-content-center mt-2">moonstone</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/moonstone.html" class="btn btn-lg btn-light-magenta">Download</a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/rosemary.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi Note 10s</h5>
          <p class="d-flex justify-content-center mt-2">rosemary</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/rosemary.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/merlinx.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi Note 9</h5>
          <p class="d-flex justify-content-center mt-2">merlin</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/merlinx.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/lava.png" loading="lazy" class="img-fluid" alt="">
          <h5 class="d-flex justify-content-center mt-2">Redmi 9</h5>
          <p class="d-flex justify-content-center mt-2">lancelot</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/lancelot.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">

    <div class="portfolio-wrap">

      <div class="portfolio-box">

        <div class="overlay">

          <img src="assets/img/portfolio/shiva.png" loading="lazy" class="img-fluid" alt="">
          <h5 class="d-flex justify-content-center mt-2">Poco M2</h5>
          <p class="d-flex justify-content-center mt-2">shiva</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/shiva.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/sweet.png" loading="lazy" class="img-fluid" alt="">
          <h5 class="d-flex justify-content-center mt-2">Redmi Note 10 Pro</h5>
          <p class="d-flex justify-content-center mt-2">sweet</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="depecrated.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/apollo.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Mi 10T/Pro, Redmi K30S</h5>
          <p class="d-flex justify-content-center mt-2">apollo</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/apollo.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/miatoll.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi 9S/9 Pro/9 Pro Max, Poco M2 Pro</h5>
          <p class="d-flex justify-content-center mt-2">miatoll</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/miatoll.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/citrus.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Poco M3</h5>
          <p class="d-flex justify-content-center mt-2">citrus</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/citrus.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/lime.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi 9T/9 Power/Note 9 4G.</h5>
          <p class="d-flex justify-content-center mt-2">lime</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/lime.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/whyred.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi Note 5/Pro/AI</h5>
          <p class="d-flex justify-content-center mt-2">whyred</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/whyred.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/raphael.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi K20 Pro/Mi 9T Pro</h5>
          <p class="d-flex justify-content-center mt-2">raphael</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/raphael.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/lavender.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi Note 7</h5>
          <p class="d-flex justify-content-center mt-2">lavender</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="devices/lavender.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item devices">
    <div class="portfolio-wrap">
      <div class="portfolio-box">
        <div class="overlay">
          <img src="assets/img/portfolio/dandelion.png" loading="lazy" class="img-fluid" alt="">

          <h5 class="d-flex justify-content-center mt-2">Redmi 9A</h5>
          <p class="d-flex justify-content-center mt-2">dandelion</p>
          <div class="d-flex justify-content-center mt-2">
            <a href="depecrated.html" class="btn btn-lg btn-light-magenta">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>